body {
  font-family: 'Sintony', sans-serif;
  overflow-x: hidden; }

#landing {
  position: relative;
  width: 100vw;
  height: 100vh; }
  #landing .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 200ms; }
  #landing .carousel-fade .carousel-inner .active {
    opacity: 1; }
  #landing .carousel-fade .carousel-inner .active.left,
  #landing .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1; }
  #landing .carousel-fade .carousel-inner .next.left,
  #landing .carousel-fade .carousel-inner .prev.right {
    opacity: 1; }
  #landing .carousel-fade .carousel-control {
    z-index: 2; }
  #landing .image1 {
    background-image: url("../images/slider1.jpg");
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }
  #landing .image2 {
    background-image: url("../images/slider2.jpg");
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }
  #landing .image3 {
    background-image: url("../images/slider5.jpg");
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }
  #landing .front {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 8em; }
    #landing .front h2, #landing .front h3 {
      font-family: "Pacifico", cursive; }
    #landing .front h2 {
      font-size: 4em; }
    #landing .front h1 {
      text-transform: uppercase;
      font-size: 6em; }
    #landing .front span {
      font-weight: bolder; }
    #landing .front h3 {
      font-size: 2em;
      margin-bottom: 1em; }
    #landing .front .btn-outline {
      font-size: 1.3em;
      color: #fff;
      font-weight: bolder;
      padding: 1em 2em;
      border: 2px solid #fff; }
      #landing .front .btn-outline:hover {
        color: #fff; }

#specials .desc {
  padding-top: 4em; }
  #specials .desc h2 {
    font-size: 3em;
    color: #F26522;
    font-family: "Pacifico", cursive; }
  #specials .desc i {
    padding-top: 1em;
    color: #9db7c5; }
  #specials .desc p {
    color: #38515e;
    padding: 1em 3em; }
#specials .image-desc {
  margin-top: 2em; }
  #specials .image-desc .image {
    text-align: center;
    height: 250px;
    width: 360px; }
    #specials .image-desc .image.thumbnail {
      padding: 1px;
      border: 2px solid #ddd; }
  #specials .image-desc .image1 {
    background-image: url("../images/slider1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 1em; }
    #specials .image-desc .image1:hover {
      background-image: url("../images/slider4.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px;
      padding: 1em; }
  #specials .image-desc .image2 {
    background-image: url("../images/slider2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 1em; }
    #specials .image-desc .image2:hover {
      background-image: url("../images/slider5.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px;
      padding: 1em; }
  #specials .image-desc .image3 {
    background-image: url("../images/slider3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 1em; }
    #specials .image-desc .image3:hover {
      background-image: url("../images/sp-item1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px;
      padding: 1em; }
  #specials .image-desc h3 {
    padding: 0 1em;
    color: #38515e; }
  #specials .image-desc p {
    padding: 0 1em;
    color: #38515e; }

#foodtype {
  margin-top: 4em;
  background-image: url("../images/our-products-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }
  #foodtype .desc {
    padding-top: 4em; }
    #foodtype .desc h2 {
      font-size: 3em;
      color: #fff;
      font-family: "Pacifico", cursive; }
    #foodtype .desc i {
      padding-top: 1em;
      color: #fff; }
    #foodtype .desc p {
      color: #fff;
      padding: 1em 3em; }
  #foodtype .products {
    padding-bottom: 5em; }
    #foodtype .products .product-type {
      margin-right: 1em;
      border: 3px solid #fff; }
    #foodtype .products .image {
      padding: 2em 2em 1em 2em; }
      #foodtype .products .image:hover {
        transform: scaleX(-1);
        transition-duration: 1s; }
      #foodtype .products .image h3 {
        color: #fff; }
      #foodtype .products .image p {
        color: #fff; }

#order {
  position: relative;
  margin-top: 4em;
  background-image: url("../images/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); }
  #order .order-details {
    font-family: "Raleway", sans-serif; }
    #order .order-details img {
      margin-top: 5em; }
    #order .order-details h2, #order .order-details h3, #order .order-details i, #order .order-details p {
      color: #fff; }
    #order .order-details h2 {
      font-size: 3em; }
    #order .order-details h3 {
      font-size: 2em; }
    #order .order-details span {
      font-weight: bold; }
    #order .order-details p {
      font-size: 1.5em; }
    #order .order-details .btn-outline {
      margin-top: 2em;
      font-size: 1.3em;
      color: #fff;
      font-weight: bolder;
      padding: 0.8em 2em;
      border: 1px solid #fff; }
      #order .order-details .btn-outline:hover {
        color: #fff; }
  #order .order-image {
    text-align: center; }

#menu .desc {
  padding-top: 4em; }
  #menu .desc h2 {
    font-size: 3em;
    color: #F26522;
    font-family: "Pacifico", cursive; }
  #menu .desc i {
    padding-top: 1em;
    color: #9db7c5; }
  #menu .desc p {
    color: #38515e;
    padding: 1em 3em; }
#menu .drinks {
  margin-top: 4em;
  background-image: url("../images/heading-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); }
  #menu .drinks p {
    padding: 2em 0; }
    #menu .drinks p a {
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 3em;
      font-weight: bold; }

/*# sourceMappingURL=styles.css.map */
