body {
  font-family: 'Sintony', sans-serif;
  overflow-x: hidden; }

#landing {
  position: relative;
  width: 100vw;
  height: 100vh; }
  #landing .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 200ms; }
  #landing .carousel-fade .carousel-inner .active {
    opacity: 1; }
  #landing .carousel-fade .carousel-inner .active.left,
  #landing .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1; }
  #landing .carousel-fade .carousel-inner .next.left,
  #landing .carousel-fade .carousel-inner .prev.right {
    opacity: 1; }
  #landing .carousel-fade .carousel-control {
    z-index: 2; }
  #landing .image1 {
    background-image: url("../images/slider1.jpg");
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-attachment: fixed;}
  #landing .image2 {
    background-image: url("../images/slider2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50em;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }
  #landing .image3 {
    background-image: url("../images/slider5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50em;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }
  #landing .front {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 8em; }
    #landing .front h2, #landing .front h3 {
      font-family: "Pacifico", cursive; }
    #landing .front h2 {
      font-size: 4em; }
    #landing .front h1 {
      text-transform: uppercase;
      font-size: 6em; }
    #landing .front span {
      font-weight: bolder; }
    #landing .front h3 {
      font-size: 2em;
      margin-bottom: 1em; }
    #landing .front .btn-outline {
      font-size: 1.3em;
      color: #fff;
      font-weight: bolder;
      padding: 1em 2em;
      border: 2px solid #fff; }
      #landing .front .btn-outline:hover {
        color: #fff; }

#specials .desc {
  padding-top: 4em; }
  #specials .desc h2 {
    font-size: 3em;
    color: #F26522;
    font-family: "Pacifico", cursive; }
  #specials .desc i {
    padding-top: 1em;
    color: #9db7c5; }
  #specials .desc p {
    color: #38515e;
    padding: 1em 3em; }
#specials .image-desc {
  margin-top: 2em; }
  #specials .image-desc .image {
    text-align: center;
    height: 250px;
    width: 360px; }
    #specials .image-desc .image.thumbnail {
      padding: 1px;
      border: 2px solid #ddd; }
  #specials .image-desc .image1 {
    background-image: url("../images/slider1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 1em; }
    #specials .image-desc .image1:hover {
      background-image: url("../images/slider4.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px;
      padding: 1em; }
  #specials .image-desc .image2 {
    background-image: url("../images/slider2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 1em; }
    #specials .image-desc .image2:hover {
      background-image: url("../images/slider5.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px;
      padding: 1em; }
  #specials .image-desc .image3 {
    background-image: url("../images/slider3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 1em; }
    #specials .image-desc .image3:hover {
      background-image: url("../images/sp-item1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 250px;
      padding: 1em; }
  #specials .image-desc h3 {
    padding: 0 1em;
    color: #38515e; }
  #specials .image-desc p {
    padding: 0 1em;
    color: #38515e; }

#foodtype {
  margin-top: 4em;
  background-image: url("../images/our-products-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }
  #foodtype .desc {
    padding-top: 4em; }
    #foodtype .desc h2 {
      font-size: 3em;
      color: #fff;
      font-family: "Pacifico", cursive; }
    #foodtype .desc i {
      padding-top: 1em;
      color: #fff; }
    #foodtype .desc p {
      color: #fff;
      padding: 1em 3em; }
  #foodtype .products {
    padding-bottom: 5em; }
    #foodtype .products .image {
      border: 3px solid #fff;
      padding: 2em 2em 1em 2em; }
      #foodtype .products .image img:hover {
        transform: scaleX(-1);
        transition-duration: 1s; }
      #foodtype .products .image h3 {
        color: #fff; }
      #foodtype .products .image p {
        color: #fff; }

#order {
  position: relative;
  margin-top: 4em;
  background-image: url("../images/slider1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); }
  #order .order-details {
    padding-left: 8em;
    font-family: "Raleway", sans-serif; }
    #order .order-details img {
      margin-top: 5em; }
    #order .order-details h2, #order .order-details h3, #order .order-details i, #order .order-details p {
      color: #fff; }
    #order .order-details h2 {
      font-size: 3.5em; }
    #order .order-details h3 {
      font-size: 3.5em; }
    #order .order-details span {
      font-weight: bold; }
    #order .order-details p {
      font-size: 1.8em; }
    #order .order-details .btn-outline {
      margin: 1.5em 0;
      font-size: 1.3em;
      color: #fff;
      font-weight: bolder;
      padding: 0.7em 2em;
      border: 1px solid #fff; }
      #order .order-details .btn-outline:hover {
        color: #fff; }
  #order .order-image {
    top: 2em;
    text-align: center; }

#menu {
  width: 100vw; }
  #menu .desc {
    padding-top: 4em; }
    #menu .desc h2 {
      font-size: 3em;
      color: #F26522;
      font-family: "Pacifico", cursive; }
    #menu .desc i {
      padding-top: 1em;
      color: #9db7c5; }
    #menu .desc p {
      color: #38515e;
      padding: 1em 3em; }
  #menu .drinks {
    margin-top: 4em; }
    #menu .drinks p {
      padding: 2em 0; }
      #menu .drinks p a {
        text-decoration: none;
        text-align: center;
        color: #fff;
        font-size: 3em;
        font-weight: bold; }
    #menu .drinks img {
      background-color: #fff;
      height: 300px;
      width: 360px; }

#extras {
  padding-top: 4em;
  background-image: url("../images/extras-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); }
  #extras h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    font-family: "Raleway", sans-serif; }
  #extras img {
    padding-left: 26em;
    margin-bottom: 2em; }
  #extras .extra-type {
    margin-bottom: 2em; }
    #extras .extra-type i {
      color: #fff;
      font-size: 6em; }
      #extras .extra-type i:hover {
        color: #F26522; }
    #extras .extra-type p {
      margin: 1em 0;
      color: #fff;
      font-weight: bold;
      font-size: 1.8em;
      font-family: "Raleway", sans-serif; }
      #extras .extra-type p:hover {
        color: #F26522; }

#booking {
  margin-top: 4em; }
  #booking .desc h2 {
    font-size: 3em;
    color: #F26522;
    font-family: "Pacifico", cursive; }
  #booking .desc i {
    padding-top: 1em;
    color: #9db7c5; }
  #booking .desc p {
    color: #38515e;
    padding: 1em 3em; }
  #booking .book .text-input {
    height: 50px;
    color: gray;
    border-radius: 2px;
    border: 1.5px solid #ededed; }
    #booking .book .text-input:hover {
      border-color: #F26522; }
  #booking .book .book-list {
    height: 50px;
    color: gray;
    border-radius: 2px;
    border: 1.5px solid #ededed; }
    #booking .book .book-list:hover {
      border-color: #F26522; }
  #booking .book .text-mesg {
    color: gray;
    border-radius: 2px;
    border: 1.5px solid #ededed; }
    #booking .book .text-mesg:hover {
      border-color: #F26522; }
  #booking .book .btn-solid {
    margin-top: 2.5em;
    margin-bottom: 4em;
    font-size: 1.3em;
    background-color: #F26522;
    color: #fff;
    border-radius: 2px;
    font-weight: bold;
    padding: 0.6em 2.7em; }
    #booking .book .btn-solid:hover {
      color: #fff; }

#reviews {
  margin-top: 6em;
  background-image: url("../images/comment-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; }
  #reviews .reviewmesg {
    margin-top: 7em;
    height: 28em;
    background-color: rgba(242, 101, 34, 0.8); }
    #reviews .reviewmesg img {
      position: relative;
      top: 4em;
      left: 4em; }
    #reviews .reviewmesg h2 {
      position: relative;
      top: 2em;
      left: 2em;
      color: #fff;
      font-family: "Pacifico", cursive;
      margin-bottom: 1em; }
    #reviews .reviewmesg p {
      position: relative;
      top: 3em;
      left: 3em;
      font-weight: 400;
      font-size: 1.3em;
      margin-right: 4em;
      color: #fff;
      font-family: "Raleway", sans-serif; }
    #reviews .reviewmesg h4 {
      position: relative;
      top: 4em;
      left: 3em;
      font-weight: bold;
      color: #fff;
      margin-bottom: 1em; }
    #reviews .reviewmesg span {
      position: relative;
      top: 4em;
      left: 4em;
      color: #fff; }
  #reviews .chef img {
    margin-top: -2em;
    margin-left: 7.5em; }

#details {
  margin-top: 4em;
  margin-bottom: 2em; }
  #details .image {
    text-align: center; }
  #details h2 {
    text-align: left;
    font-size: 3em;
    color: #4a6c7f;
    font-family: "Pacifico", cursive;
    margin-bottom: 1em; }
  #details p {
    text-align: left;
    font-size: 1.3em;
    color: #38515e;
    font-family: "Raleway", sans-serif; }
  #details .share i {
    margin-right: 2em; }
  #details .eventinfo {
    text-align: left;
    font-size: 1.5em;
    color: #38515e;
    font-family: "Raleway", sans-serif; }

/*# sourceMappingURL=styles.css.map */
