#details{
margin-top: 4em;
margin-bottom: 2em;
.image{
  text-align: center;
}
h2{
  text-align: left;
  font-size: 3em;
  color: darken($primary-pg-color,50%);
  font-family: $primary-font;
  margin-bottom: 1em;
}
p{
  text-align: left;
  font-size: 1.3em;
  color: darken($primary-pg-color,60%);
  font-family: $secondary-font;
}
.share{
  i{
    margin-right: 2em;
  }
}
.eventinfo{
  text-align: left;
  font-size: 1.5em;
  color: darken($primary-pg-color,60%);
  font-family: $secondary-font;
}
}
