#extras {
padding-top: 4em;
background-image: url('../images/extras-bg.jpg');
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);


h2{
  font-size: 2.5em;
  font-weight: bold;
  color: $primary-color;
  font-family: $secondary-font;
}
img{
  padding-left: 26em;
  margin-bottom: 2em;
}
.extra-type{
  margin-bottom: 2em;
  i{
    color: $primary-color;
    font-size: 6em;
    &:hover {
        color: $secondary-color;
    }
  }
  p{
    margin: 1em 0;
    color: $primary-color;
    font-weight: bold;
    font-size: 1.8em;
    font-family: $secondary-font;
    &:hover {
        color: $secondary-color;
    }
  }

}
}
