#landing {
  position: relative;
  width: 100vw;
  height: 100vh;

  .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  transition-duration: 200ms;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

  .image1 {
      background-image: url('../images/slider1.jpg');
      background-repeat: no-repeat;
      height: 50em;
      background-size: cover;
      box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  }
  .image2 {
    background-image: url('../images/slider2.jpg');
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  }
  .image3 {
    background-image: url('../images/slider5.jpg');
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  }
  .front {
      color: $primary-color;
      position: absolute;
      left: 0;
      right: 0;
      top: 8em;
      h2, h3 {
        font-family: $primary-font;
      }
      h2 {
        font-size: 4em;
      }
      h1{
        text-transform: uppercase;
        font-size: 6em;
      }
      span {
        font-weight: bolder;
      }
      h3 {
        font-size: 2em;
        margin-bottom: 1em;
      }

      .btn-outline {
          font-size: 1.3em;
          color: $primary-color;
          font-weight: bolder;
          padding: 1em 2em;
          border: 2px solid $primary-color;

          &:hover{
            color: $primary-color;
          }
      }
  }
}
