#menu {
width: 100vw;

  .desc {
    padding-top: 4em;
    h2 {
      font-size: 3em;
      color: $secondary-color;
      font-family: $primary-font;
    }
    i{
      padding-top: 1em;
      color: darken($primary-pg-color, 20%);
    }
    p{
      color: darken($primary-pg-color,60%);
      padding: 1em 3em;
    }
  }
  .drinks {
    margin-top: 4em;
    // background-image: url('../images/heading-bg.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // width: 100vw;
    // box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    p{
      padding: 2em 0;
      a {
        text-decoration: none;
        text-align: center;
        color: $primary-color;
        font-size: 3em;
        font-weight: bold;
      }
    }
    img {
      background-color: $primary-color;
      height: 300px;
      width: 360px;
    }
  }
}
