$primary-color : #fff;
$secondary-color : #F26522;
$primary-font : 'Pacifico', cursive;
$primary-pg-color : #DDE6EB;
$secondary-font : 'Raleway', sans-serif;
$form-text-color: gray;
$form-border-color: #ededed;
